{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/consistent-type-definitions": [
      "warn",
      "type"
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-unsafe-assignment": "off"
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./packages/api/tsconfig.json"
    ]
  },
  "ignorePatterns": [
    "packages/migration/**/*.js",
    "**/*.generated.ts",
    "**/generated"
  ]
}